@media screen and (max-width: 767px) {
    /*.navbar-toggle {
        margin-right: 20px;
    }*/
    .rev-scroll-btn {
        display: none;;
    }
	.col-md-12 {
		padding-right: 0px;
		padding-left: 0;
	}
	.row.mobile-p.col-md-4 {
		padding-left: 35px;
	}
	.mobile-m-t {
		text-align: center;
		margin-left: 10%;
	}
	p.light-b.top30.wow.fadeInUp {
    font-size: 14px;
	}
	section#editorial {
    height: 100% !important;
	}
	section#websites {
	height: 100% !important;	
	}
	section#grafico {
	height: 100% !important;
	}
	section#item-one {
	height: 100% !important;	
	}
	p.light-b.top30.wow.fadeInUp {
    padding: 10px;
	}
	section#contact-form {
    height: 100% !important;
	}
	h2.ccdeep.heading_space.item-titles.text-center.wow.fadeInLeft {
    padding: 5px;
	}
}
@media screen and (max-width: 1024px){
	.row.mobile-p.col-md-4 {
    padding-left: 35px;
	}
	
	.mobile-m-t {
		text-align: center;
		margin-left: 10%;
	}
	
	.col-md-12 {
		padding-right: 0px;
		padding-left: 0;
	}
	
    .rev-scroll-btn {
        display: none;;
    }
	textarea {
    max-height: 125px;
    resize: none;
	}
	p.light-b.top30.wow.fadeInUp {
    padding: 10px;
	}
	section#contact-form {
    height: 100% !important;
	}
	.grid {
    width: auto;
	}
}
@media screen and (max-width: 640px){
	section#editorial {
    height: 100% !important;
	}
	section#websites {
	height: 100% !important;	
	}
	section#grafico {
	height: 100% !important;
	}
	section#marketing {
	height: 100% !important;
	}
	section#contact-form {
    height: 100% !important;
	}
	p.light-b.top30.wow.fadeInUp {
    padding: 10px;
	}
	h2.ccdeep.heading_space.item-titles.text-center.wow.fadeInLeft {
    padding: 5px;
	}
	.image-banner2 {
		width: 220px;
		padding-right: 100px !important;
		margin-top: 0px !important;
	}
	.image-banner1 {
		width: 120px;
		margin-top: -5px;
		margin-left: 110px;
	}
}


